@font-face {
  font-family: 'icomoon';
<<<<<<< HEAD
<<<<<<< HEAD
  src:  url('fonts/icomoon.eot?szmvep');
  src:  url('fonts/icomoon.eot?szmvep#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?szmvep') format('truetype'),
    url('fonts/icomoon.woff?szmvep') format('woff'),
    url('fonts/icomoon.svg?szmvep#icomoon') format('svg');
=======
  src:  url('fonts/icomoon.eot?eywyn8');
  src:  url('fonts/icomoon.eot?eywyn8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?eywyn8') format('truetype'),
    url('fonts/icomoon.woff?eywyn8') format('woff'),
    url('fonts/icomoon.svg?eywyn8#icomoon') format('svg');
>>>>>>> modelGallery
=======
  src:  url('fonts/icomoon.eot?5ap5po');
  src:  url('fonts/icomoon.eot?5ap5po#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5ap5po') format('truetype'),
    url('fonts/icomoon.woff?5ap5po') format('woff'),
    url('fonts/icomoon.svg?5ap5po#icomoon') format('svg');
>>>>>>> contacto
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<<<<<<< HEAD
<<<<<<< HEAD
.icon-mark-github:before {
  content: "\f00a";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e900";
=======
.icon-youtube-with-circle:before {
  content: "\e900";
}
.icon-facebook-with-circle:before {
  content: "\e901";
}
.icon-twitter-with-circle:before {
  content: "\e902";
}
.icon-facebook-with-circle2:before {
  content: "\e903";
}
.icon-heart:before {
  content: "\23";
}
.icon-user:before {
  content: "\e971";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-mail4:before {
  content: "\ea86";
>>>>>>> modelGallery
=======
.icon-cart:before {
  content: "\e93a";
>>>>>>> contacto
}

